h1 {
	font-size: 70px;
	text-align: center;
	color: tomato;
}

.system_name {
	font-size: 20px;
	font: bold;
	font-style: italic;
}

.main_text {
	font-size: 20px;
	text-align: center;
	font-family: Arial; ;
}

.centered {
	position:absolute;
	left: 50%;
	transform: translate(-50%, 0%);
}