.main_title {
  text-align: center;
}

.jumbotron {
  margin-bottom: 0px;
  /*height: 100px;*/
  padding-top: 1px;
  padding-bottom: 1px;
}

.bold_text {
  font: bold;
}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.system_name {
  /*text-align: center;*/
  font: bold;
  font-style: italic;
}

.formatted_footer {
  text-align: center;
  width: 200px;
  border: 5px solid black;
}

/*.centered {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}*/

/*.centered-paragraph {
  vertical-align: middle;
}*/

/*.col-md-6 {
  margin-bottom: 20px;
}*/


